<?xml version="1.0" encoding="UTF-8"?>
<config>
	<url>http://localhost:8080/orbeon/igch/</url>
	<solr_published>http://localhost:8080/solr/igch/</solr_published>
	<nomisma_sparql>http://nomisma.org/query</nomisma_sparql>
	<archer_sparql>http://localhost:8080/fuseki/archer/query</archer_sparql>
	<mapboxKey>pk.eyJ1IjoiZXdnMTE4IiwiYSI6IjViNDRlMzgxMjkyMDg0MGIxYTNlMzlkMjk1ZTI5Yzg5In0.1FU6cKAs4-vPMroB_l_0lA</mapboxKey>
</config>
